body{
    font: normal 12px arial;
    background: #393e46;
    color: #eee;
}
footer img{
    width: 30px;
}

a:link, a:hover, a:active, a:visited{
    text-decoration: none;
    color: #eee;
    font: bold;
}