html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    }

    body{ 

        font-family: 'Open Sans', sans-serif;
    }
    
    .container{
        background-color: #fff;
        width: 100%;
        max-width: 1125px;
        margin: 0 auto;
        padding: 30px;
    }
    
    .linha{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
  

    .coluna{
        flex-basis: 50%;
        
    }

    .hidden {
        display: none;
    }

    header{
        background: rgb(0, 174, 197);
        padding-top: 30px;
    }

    
    header .container{
       
    }

    header .linha{
        align-items: center;
    }

    header .coluna{ }

    header .coluna-esquerda{
        flex-basis: 30%;
    }
    header .coluna-direita{
        flex-basis: 70%;
    }
    header .coluna figure{}
    header .coluna img {
        border-radius: 100%;
        max-width: 250px;
    }
    header .coluna h1{
        font-size: 1.5rem;
    }
    header .coluna p{
        font-size: 1rem;
        color: #363636;
    }
    header .coluna ul{
        margin: 16px  0 0;
    }
    header .coluna li{ 
        margin: 0 0  12px;
    }
    header .coluna li a{
        font-size: 1rem;
        color: #000;

    }


    main{}
    main .container{}
    main .linha{}
    main .coluna{}
    main .coluna-esquerda{}
    main .coluna-direita{}
    main .coluna section{
        border: solid 1px #d4c9ff;
        margin: 10px 10px 20px 10px;
        padding: 20px;
    }
    main .coluna section h2{
        font-size: 1.2rem;
    }
    main .coluna section p{
        margin: 10px 0 0 0;
        font-size: 1rem;
        color: #363636;
        line-height: 1.5rem;
    }
    main .coluna section ul{}
    main .coluna section ul li{
        margin: 10px 0;
    }
    main .coluna section ul li h3{
        font-size: 1rem;
    }
    main .coluna section ul li strong{
        font-size: 0.9rem;
        font-weight: 500;
    }
    main .coluna section ul li a{}


    footer{}
    footer .container{
        display: flex;
    }
    footer img{
        width: 30px;
    }
    footer .nav{}
    footer .nav ul{}
    footer .nav ul li{
        
    }
    footer .nav ul li a{
        display:inline-block;
    }
    
    footer .nav .info-contato{}
    footer .nav .info-contato ul{}
    footer .nav .info-contato ul li {}
    footer .nav .info-contato li a{}

    footer .nav .social{}
    footer .nav .social ul{}
    footer .nav .social ul li {}
    footer .nav .social li a{}



    
    
    
    
    